body
{
    background: #F5F5F5 url('') fixed repeat;
    font:14px/21px "Arial", "Helvetica", sans-serif;
    text-align: center;
}

@font-face
{
font-family: diamond;
src: url('../fonts/diamond_.ttf');
}

@font-face
{
font-family: couture;
src: url('../fonts/COUTURE-Bold.ttf');
}

@font-face
{
font-family: copperplata;
src: url('../fonts/Copperplate.ttf');
}

@font-face
{
font-family: copperplatab;
src: url('../fonts/Copperplate Bold.ttf');
}

.title
{
    position: absolute;
    width: 80%;
    top:0px;
    left:10%;
    right:10%;
    <!-- font-family: diamond; -->
    <!-- font-family: 'Roboto', sans-serif; -->
    font-family: Product Sans;
    font-size: 4.2em;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    z-index: 1;
}

.main
{
    position: relative;
    top: 11em;
    width: 80%;
    height:243px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align:left;
}

p2
{
    font-size: 1.4em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    height:270px;
}

titla
{
    position:relative;
    font-size: 1.45em;
    font-family: copperplatab, copperplata, Times;
    font-weight: 300;
}

subtitla
{
    position:relative;
    font-size: 1.0em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
}

contact
{
    position:relative;
    font-size: 0.8em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
}

cv
{
    float:right;
    font-size: 0.95em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    margin-right: 4em;
}

.myimage
{
    float:left;
    margin-left:1.5em;
    margin-right:1em;
    width: 179px;
    height: 180px;
}

.linka
{
    position: relative;
    top: 11em;
    width: 80%;
    height:243px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align:left;
}

.linka1
{
    float:left;
    margin-left:1.5em;
    margin-right:1em;
    width: 400px;
    height: 180px;
}

.twitter
{
    float:right;
    font-size: 0.95em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    margin-right: 1em;
    margin-top: -3.2em;
}
  
p1
{
    font-size: 1.3em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    height:270px;
}

titlas
{
    font-size: 1.15em;
    font-family: copperplata, Times;
    font-weight: 300;
}

a:link {color:#4433ff; text-decoration:none;}    /* unvisited link */
a:visited {color:#6053ff; text-decoration:none;} /* visited link */
a:hover {color:#000000; text-decoration:underline;}   /* mouse over link */
a:active {color:#4433ff; text-decoration:none;} 