# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby
.vendor/
.bundle/
Gemfile.lock

# OS/editor junk
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log

# Bundler
.bundle/

# Bundler artifacts
.bundle/
.bundle/*
