# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby
.bundle/
.bundle-docker/
.vendor/
vendor/
Gemfile
Gemfile.lock
Gemfile.docker
Gemfile.docker.lock
dev.sh

# OS/editor junk
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log
