<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    
.social p {
    float:right;
    margin-top: 5px;
    margin-right: -10px;
}

.social{
    float:center;
    width: 250px;
    padding-bottom: 2em;
    padding-top: 1em;
}
    
.social ul {
    overflow: auto;
    float: left;
    margin-left: -40px;  
    /* -60 */
}
 
.social ul li {
    list-style-type: none;
    float: left;
}
 
.social ul li a i {
    background: #333;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 22.5px;
    text-align: center;
    margin-right: 5px;
    padding-top: 20%;
    transition: all 0.2s ease-in-out;
}

.social ul li a i:hover {
    opacity: .7;
}
</style>


<div class="sidebar">
  <div class="container sidebar-sticky">
    
    <center>
    <img src="{{site.url}}/assets/goku_peace_m.png" alt="" height="150px">
    </center>
    
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url}}">
          {{ site.title }}
        </a>
      </h1>
      </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      

      <a class="sidebar-nav-item{% if page.url == {{site.url}} %} active{% endif %}" href="{{site.url}}">About</a>
      <a class="sidebar-nav-item{% if page.url == {{site.url}}/projects %} active{% endif %}" href="{{site.url}}/projects">Projects</a>
      <a class="sidebar-nav-item{% if page.url == {{site.url}}/blog %} active{% endif %}" href="{{site.url}}/blog">Blog</a>
      <a class="sidebar-nav-item{% if page.url == {{site.url}}/misc %} active{% endif %}" href="{{site.url}}/misc">Misc.</a>

      {% comment %} <span class="sidebar-nav-item">Currently v{{ site.version }}</span> {% endcomment %}
    </nav>
      
    <center>
    <div class="social">  
    <ul>
    <li><a href="https://twitter.com/martisamuser" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/novelmartis" target="_blank"><i class="fa fa-github"></i> </a></li>
    <li><a href="https://youtube.com/playlist?list=PL0HxeKpsusXA5nsj27SpczdpZb_R9ipCB&si=bxfK_PV6Cnj2Swy-" target="_blank"><i class="fa fa-youtube-play"></i> </a></li>
    <li><a href="https://novelmartiswrites.wordpress.com" target="_blank"><i class="fa fa-wordpress"></i> </a></li>
    <!-- <li><a href="https://www.kietzmannlab.org/lab/" target="_blank"><i class="fa fa-briefcase"></i> </a></li> -->
    </ul>
    <!-- <p>&copy; {{ site.time | date: '%y' }}</p> -->
    </div>
    </center>
      
    
  </div>
</div>
